# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Base de datos local
instance/
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db